<h2>Standard Policies</h2>

<p><strong>Attendance</strong></p>

<p>Attendance is required for all class meetings (whether lectures or labs).
You must check in to the online attendance tool within 5 minutes of the start
of the period to receive full attendance credit.</p>

<p>If you are absent for more than five class meetings, each subsequent missed
  meeting will subtract 4% from your final grade. Five is a large margin, giving
  you plenty of space for unavoidable absences that aren't covered by the excused
  absence policy.</p>

<p>If you are unable to attend class due to a circumstance covered by the
  university <a
    href="https://www.plymouth.edu/sites/default/files/media/2022-11/psu-excused-absence-policy.pdf">
    Excused Absence Policy</a> email the professor as soon as possible for an
  exception. If you reasonably can email before the meeting, you must do so to
  for the absence to be excused.</p>

<p><strong>Late Work</strong></p>

<p>You are expected to submit your assignments by the deadline. Try to get
  stuff done and submitted at least an hour before that so you don't miss the
  deadline due to a browser bug or wifi glitch.</p>

<p>Unless some more specific policy is specified for a specific assignment or
  type of assignment, late work will not be accepted.</p>

<p>For assignments submitted via Inkfish, the late policy specified on Inkfish
  applies. Aside from "no late submissions", the other common option is "1%
  of grade subtracted per hour late".</p>

<p>If you are unable to complete an assignment on time due to circumstances
  covered by the university <a
    href="https://www.plymouth.edu/sites/default/files/media/2022-11/psu-excused-absence-policy.pdf">
    Excused Absence Policy</a> email the professor as soon as possible for an
  extension. If you reasonably can email before the deadline, you must do so to
  receive an extension.</p>

<p><strong>Submitting Work</strong></p>

<p>Assignemnts will typically be assigned on Inkfish and must be submitted
  there. Work will *never* be accepted by email unless specifically requested,
  and any attempt to send work by unsolicited email will result in a 10% grade
  penalty on that assignment.</p>

<p><strong>Letter Grades</strong></p>

<p>
&ge; 93 &rarr; A, &ge; 90 &rarr; A-, <br>
&ge; 87 &rarr; B+, &ge; 83 &rarr; B, &ge; 80 &rarr; B-, <br>
&ge; 77 &rarr; C+, &ge; 73 &rarr; C, &ge; 70 &rarr; C-, <br>
&ge; 67 &rarr; D+, &ge; 63 &rarr; D, &ge; 60 &rarr; D-, <br>
else (&lt; 60) &rarr; F
</p>

<p><strong>Automated Feedback and Grading</strong></p>

<p>This class may use two different mechanisms for automated feedback and
  grading: Grading scripts, and AI-assisted feedback.</p>

<p>For assignments with script grades, when you submit your work to Inkfish a
  script will automatically run and evaluate it. This will produce a grade,
  which is a portion of the grade you will recieve for this assignmet if this
  is your final attempt. If you don't like the grade, you should fix the issues
  so the script gives you more points. Points earned by bypassing the intent of
  the assignment (e.g. hard-coding outputs to make the script happy when you
  should be writing a program that computes stuff) will be removed.</p>

<p>For any assignment, you may receive feedback generated with LLM assistance.
  That analysis will be used to help compute your final score for improved
  usefulness, accuracy, and consistency. Obviously, if the LLM does anything
  dumb and I miss it you should let me know so we can fix it. The LLMs will
  either be run locally or through USNH provided services. Your work will not
  be shared with external (not local, not USNH) cloud providers for this
  purpose.</p>

<p>Hopefully this LLM assisted feedback will sometimes include fast feedback,
  where some feedback is provided before the assignment deadline. This will be
  slow compared to script grades, but should give an additional opportunity to
  revise your work before it's graded.</p>

<p><strong>Peer Review</strong></p>

<p>Any work you submit may be shared with other students in the class for peer
  review and feedback.</p>

<p><strong>Grade Appeals</strong></p>

<p>If you think you received an incorrect grade, send me an email describing
  why your grade is wrong and how you think it should be corrected.</p>

<p>If the grade isn’t clearly wrong, I will ask you to stop by my office hours so
  we can discuss the issue in more detail.</p>

<p>For scores automatically and immediately generated by deterministic test
  scripts on Inkfish, you are expected to review that immediate feedback and
  resubmit with corrections before the due date. Scores where you could have
  done that are unlikely to be modified unless there's a clear error in the
  script.</p>

<p><strong>Academic Integrity</strong></p>

<p>Please carefully read and be familiar with the university <a
  href="https://coursecatalog.plymouth.edu/university-policies-procedures/">
  Academic Integrity Policy</a>.</p>

<p>Especially don’t do any of the things in the list of examples of academic
  integrity violations. Make sure to review the penalties for repeated
  offenses.</p>

<p>The maximum penalty for academic dishonestly is a grade of “AF” in this
  course. In addition, the student’s name may be sumitted the the appropriate
  university authorities for further diciplinary action which may result in
  penalties up to dismissal from the University.</p>

<p>The most likely violation for this course is plagarism, which is when a
  student submits a solution for an assignment that wasn’t produced by them (or
  their assigned team in the case of a group assignment). Both submitting work
  that you didn’t produce and providing solutions to other students are
  unacceptable in this course and will result in a penalty as described
  above.</p>

<p>Some assignments in this course allow (or require) the use of generative AI
  tools. Such tools should not be used to generate assignment solutions except
  as explicitly described in a given assignment.</p>


<p><strong>Copyright and Attribution</strong></p>

<p>To avoid plagarism, the following are clearly OK:</p>

<ul>
  <li>If a you or a member of your team wrote code.</li>
  <li>If a member of your team generated boilerplate code with a non-AI
    code generation tool (e.g. mix phx.gen.html in Phoenix)</li>
  <li>Using external open source libraries through package management
    tools.</li>
</ul>

<p>Copying code from other sources is OK if you provide clear attribution
  and:</p>

<ul>
  <li>The code is a documentation sample clearly intended to be adapted and used by
  developers OR the code is licensed under an open source license compatible with
  your project license. Make sure to follow the license.</li>
  <li>Attribution should be identify the author if possible, how to find the
  resource (e.g. URL, book citation, etc), and any relevant licensing info.</li>
  <li>The code isn't solving a programming task that you were supposed to solve 
  with your own code.</li>
</ul>

<p>Using code produced by generative AI is OK as long as:</p>

<ul>
  <li>The assignment instructs you to use a code generation tool and you do so
    according to the assignment instructions.</li>
  <li>You clearly note in your submission (e.g. comment, README, etc) that you
    which code generation tools you used and how.</li>
  <li>The default aider commit comment is sufficient.</li>
</ul>

<p>Not OK:</p>

<ul>
  <li>Copying code you didn't produce yourself into your project without
    clear attribution.</li>
  <li>Copyright infringement (including for non-code assets)</li>
  <li>Getting other people to write code for you, especially non-classmates.</li>
</ul>

<p><strong>Fair Grading Policy</strong></p>

<p>All grading in this class is subject to the university <a
  href="https://coursecatalog.plymouth.edu/university-policies-procedures/">Fair
  Grading Policy</a>.</p>

<p><strong>Email and Canvas</strong></p>

<p>Some communication about this class will be done through email to your
  University address. Please check your email; you are responsible for any
  email communications you miss.</p>

<p>Other communication - especially to the whole class - will be done through
  Canvas Annoucements. Check those regularly.</p>

<p><strong>ADA Statement</strong>

<p>Plymouth State University is committed to providing students with
  documented disabilities equal access to all university programs and
  facilities. If you think you have a disability requiring accommodations, you
  should contact Campus Accessibility Services (CAS), located in Speare 210
  (535-3300) to determine whether you are eligible for such accommodations.
  Academic accommodations will only be considered for students who have
  registered with CAS. If you have a Letter of Accommodation for this course
  from CAS, please provide the instructor with that information privately so
  that you and the instructor can review those accommodations.</p>

<p><strong>Tutoring</strong></p>

<p>CS&amp;T offers evening tutoring for several classes. Keep an eye out for
  annoucements. The <a
    href="https://www.plymouth.edu/academics/plymouth-academic-support-services">PASS
    Office</a> also offers individual tutoring.</p>

<p><strong>Class Cancellations and Inclement Weather</strong></p>

<p>Class cancellations, if nessisary for whatever reason, will be posted as an
  annoucement on Canvas.</p>

<p>While my goal is to hold class during inclement weather unless the Univesity
  has closed, that isn't always possible. Definitely check canvas for a
  cancellation (or short delay) if the weather report mentions freezing
  rain.</p>

<p>Inclement weather and class cancellations don't change assignment deadlines
  unless explictly noted.</p>

<p><strong>Late Registration</strong></p>

<p>If you register late for the course please contact the professor to discuss
  completing any missed assignments as soon as possible.</p>

